<div class="ui container">
    <div class="ui middle aligned animated list">
        <h2 class="ui header" style="margin-top: 1em; margin-bottom: 1em;">
            <i class="calendar alternate icon"></i>
            Impftermine
        </h2>
        <a *ngFor="let vaccinedate of vaccinedates" class="item vc-vaccinedate-list-item" style="margin-top: 1em;" [vaccinedate]="vaccinedate"
            [routerLink]="['/vaccinedates', vaccinedate.vaccinedate_id, vaccinedate.vaccinelocation_id]">
        </a>
    </div>
</div>