<div class="content">
    <div class="header">
        <i class="calendar alternate icon"></i> {{ vaccinedate.day | date:'dd.MM.yyyy' }} | <i class="clock icon"></i>{{ vaccinedate.starttime | date:'HH:mm' }} - {{ vaccinedate.endtime | date:'HH:mm' }}
    </div>
    <div class="description" style="margin-top: 0.5em;">
        <i class="map pin icon"></i> {{ vaccinedate.city }} - {{ vaccinedate.description }}
    </div>
    <div style="margin-top: 1em; border-bottom: 0.1em solid lightgrey;"></div>
</div>